<?xml version="1.0" encoding="UTF-8"?>
<game>
    <level>
        
    </level>
</game>

<frame>
    <frametotal width = "1168" height = "680" windowup = "16" musicStart = "bgm01" musicSelect = "bgm02" musicGame = "bgm03" mouseImage""image/cursor/cur.png"">
       <panel className = "ui_game.PanelGame"/>
       <panel className = "ui_start.PanelStartGame"/>
       <panel className = "ui_start.PanelSelectMission">
    </frametotal>
    
    <framehelp>
        
    </framehelp>
    
    <framewin>
        
    </framewin>
    
    <data>
        
    </data>
</frame>